<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (ngSubmit)="onSubmit()"  [formGroup]="registerForm">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">First name</label>
          <input formControlName="first_name" type="text" class="form-control" name="first_name" placeholder="Enter your first name"  [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
          <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
            <div *ngIf="f.first_name.errors.required">First Name is required</div>
        </div>
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input formControlName="last_name" type="text" class="form-control" name="last_name" placeholder="Enter your last name name"  [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
          <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
            <div *ngIf="f.last_name.errors.required">Last Name is required</div>
        </div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control" name="email" placeholder="Enter email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
      </div>
      <div class="group-form">
        <button class="btn btn-lg btn-primary btn-block">Register!</button>
      </div>
      </form>
    </div>
  </div>
</div>